{% extends 'base.html.twig' %}

{% block title 'New Book' %}

{% block body %}
    <h1>New Book</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.cover, {'label': 'Cover URL'}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(form) }}
{% endblock %}
